# Ignore everything in the directory
*

# Whitelist the required Python files
!train.py
!utils.py
!model.py

# Whitelist the run_traditionals folder and python scripts inside it
!run_traditionals/
!run_traditionals/*.py

# Whitelist standard course files
!README.md
!requirements.txt
!environment.yml
!result.csv
!.gitignore

# Whitelist facebook.zip in dataset folder
!dataset/
dataset/*
!dataset/facebook.zip
